// ブロック1
//
// レイアウト用
//
// Markup:
// <div class="l_structure">ブロック</div>
//
// Styleguide 1.0.0

.l_structure {
  width: 1024px;
  margin: 0 auto;
}

// ブロック2
//
// レイアウト用
//
// Markup:
// <div class="l_structure2">ブロック</div>
//
// Styleguide 1.1.0

.l_structure2 {
  width: 1024px;
  margin: 0 auto;
}

// ブロック345
//
// レイアウト用
//
// Markup:
// <div class="l_structure3">ブロック</div>
//
// Styleguide 1.2.0

.l_structure3 {
  width: 1024px;
  margin: 0 auto;
}
