/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-club01-name: 'icon_club01';
$icon-club01-x: 504px;
$icon-club01-y: 288px;
$icon-club01-offset-x: -504px;
$icon-club01-offset-y: -288px;
$icon-club01-width: 72px;
$icon-club01-height: 72px;
$icon-club01-total-width: 576px;
$icon-club01-total-height: 456px;
$icon-club01-image: '../images/sprite.png';
$icon-club01: (504px, 288px, -504px, -288px, 72px, 72px, 576px, 456px, '../images/sprite.png', 'icon_club01', );
$icon-club02-name: 'icon_club02';
$icon-club02-x: 120px;
$icon-club02-y: 336px;
$icon-club02-offset-x: -120px;
$icon-club02-offset-y: -336px;
$icon-club02-width: 120px;
$icon-club02-height: 120px;
$icon-club02-total-width: 576px;
$icon-club02-total-height: 456px;
$icon-club02-image: '../images/sprite.png';
$icon-club02: (120px, 336px, -120px, -336px, 120px, 120px, 576px, 456px, '../images/sprite.png', 'icon_club02', );
$icon-club03-name: 'icon_club03';
$icon-club03-x: 168px;
$icon-club03-y: 0px;
$icon-club03-offset-x: -168px;
$icon-club03-offset-y: 0px;
$icon-club03-width: 168px;
$icon-club03-height: 168px;
$icon-club03-total-width: 576px;
$icon-club03-total-height: 456px;
$icon-club03-image: '../images/sprite.png';
$icon-club03: (168px, 0px, -168px, 0px, 168px, 168px, 576px, 456px, '../images/sprite.png', 'icon_club03', );
$icon-cram01-name: 'icon_cram01';
$icon-cram01-x: 504px;
$icon-cram01-y: 216px;
$icon-cram01-offset-x: -504px;
$icon-cram01-offset-y: -216px;
$icon-cram01-width: 72px;
$icon-cram01-height: 72px;
$icon-cram01-total-width: 576px;
$icon-cram01-total-height: 456px;
$icon-cram01-image: '../images/sprite.png';
$icon-cram01: (504px, 216px, -504px, -216px, 72px, 72px, 576px, 456px, '../images/sprite.png', 'icon_cram01', );
$icon-cram02-name: 'icon_cram02';
$icon-cram02-x: 240px;
$icon-cram02-y: 336px;
$icon-cram02-offset-x: -240px;
$icon-cram02-offset-y: -336px;
$icon-cram02-width: 120px;
$icon-cram02-height: 120px;
$icon-cram02-total-width: 576px;
$icon-cram02-total-height: 456px;
$icon-cram02-image: '../images/sprite.png';
$icon-cram02: (240px, 336px, -240px, -336px, 120px, 120px, 576px, 456px, '../images/sprite.png', 'icon_cram02', );
$icon-cram03-name: 'icon_cram03';
$icon-cram03-x: 0px;
$icon-cram03-y: 168px;
$icon-cram03-offset-x: 0px;
$icon-cram03-offset-y: -168px;
$icon-cram03-width: 168px;
$icon-cram03-height: 168px;
$icon-cram03-total-width: 576px;
$icon-cram03-total-height: 456px;
$icon-cram03-image: '../images/sprite.png';
$icon-cram03: (0px, 168px, 0px, -168px, 168px, 168px, 576px, 456px, '../images/sprite.png', 'icon_cram03', );
$icon-other01-name: 'icon_other01';
$icon-other01-x: 504px;
$icon-other01-y: 72px;
$icon-other01-offset-x: -504px;
$icon-other01-offset-y: -72px;
$icon-other01-width: 72px;
$icon-other01-height: 72px;
$icon-other01-total-width: 576px;
$icon-other01-total-height: 456px;
$icon-other01-image: '../images/sprite.png';
$icon-other01: (504px, 72px, -504px, -72px, 72px, 72px, 576px, 456px, '../images/sprite.png', 'icon_other01', );
$icon-other02-name: 'icon_other02';
$icon-other02-x: 336px;
$icon-other02-y: 168px;
$icon-other02-offset-x: -336px;
$icon-other02-offset-y: -168px;
$icon-other02-width: 120px;
$icon-other02-height: 120px;
$icon-other02-total-width: 576px;
$icon-other02-total-height: 456px;
$icon-other02-image: '../images/sprite.png';
$icon-other02: (336px, 168px, -336px, -168px, 120px, 120px, 576px, 456px, '../images/sprite.png', 'icon_other02', );
$icon-other03-name: 'icon_other03';
$icon-other03-x: 336px;
$icon-other03-y: 0px;
$icon-other03-offset-x: -336px;
$icon-other03-offset-y: 0px;
$icon-other03-width: 168px;
$icon-other03-height: 168px;
$icon-other03-total-width: 576px;
$icon-other03-total-height: 456px;
$icon-other03-image: '../images/sprite.png';
$icon-other03: (336px, 0px, -336px, 0px, 168px, 168px, 576px, 456px, '../images/sprite.png', 'icon_other03', );
$icon-study01-name: 'icon_study01';
$icon-study01-x: 504px;
$icon-study01-y: 0px;
$icon-study01-offset-x: -504px;
$icon-study01-offset-y: 0px;
$icon-study01-width: 72px;
$icon-study01-height: 72px;
$icon-study01-total-width: 576px;
$icon-study01-total-height: 456px;
$icon-study01-image: '../images/sprite.png';
$icon-study01: (504px, 0px, -504px, 0px, 72px, 72px, 576px, 456px, '../images/sprite.png', 'icon_study01', );
$icon-study02-name: 'icon_study02';
$icon-study02-x: 360px;
$icon-study02-y: 336px;
$icon-study02-offset-x: -360px;
$icon-study02-offset-y: -336px;
$icon-study02-width: 120px;
$icon-study02-height: 120px;
$icon-study02-total-width: 576px;
$icon-study02-total-height: 456px;
$icon-study02-image: '../images/sprite.png';
$icon-study02: (360px, 336px, -360px, -336px, 120px, 120px, 576px, 456px, '../images/sprite.png', 'icon_study02', );
$icon-study03-name: 'icon_study03';
$icon-study03-x: 168px;
$icon-study03-y: 168px;
$icon-study03-offset-x: -168px;
$icon-study03-offset-y: -168px;
$icon-study03-width: 168px;
$icon-study03-height: 168px;
$icon-study03-total-width: 576px;
$icon-study03-total-height: 456px;
$icon-study03-image: '../images/sprite.png';
$icon-study03: (168px, 168px, -168px, -168px, 168px, 168px, 576px, 456px, '../images/sprite.png', 'icon_study03', );
$icon-test01-name: 'icon_test01';
$icon-test01-x: 504px;
$icon-test01-y: 144px;
$icon-test01-offset-x: -504px;
$icon-test01-offset-y: -144px;
$icon-test01-width: 72px;
$icon-test01-height: 72px;
$icon-test01-total-width: 576px;
$icon-test01-total-height: 456px;
$icon-test01-image: '../images/sprite.png';
$icon-test01: (504px, 144px, -504px, -144px, 72px, 72px, 576px, 456px, '../images/sprite.png', 'icon_test01', );
$icon-test02-name: 'icon_test02';
$icon-test02-x: 0px;
$icon-test02-y: 336px;
$icon-test02-offset-x: 0px;
$icon-test02-offset-y: -336px;
$icon-test02-width: 120px;
$icon-test02-height: 120px;
$icon-test02-total-width: 576px;
$icon-test02-total-height: 456px;
$icon-test02-image: '../images/sprite.png';
$icon-test02: (0px, 336px, 0px, -336px, 120px, 120px, 576px, 456px, '../images/sprite.png', 'icon_test02', );
$icon-test03-name: 'icon_test03';
$icon-test03-x: 0px;
$icon-test03-y: 0px;
$icon-test03-offset-x: 0px;
$icon-test03-offset-y: 0px;
$icon-test03-width: 168px;
$icon-test03-height: 168px;
$icon-test03-total-width: 576px;
$icon-test03-total-height: 456px;
$icon-test03-image: '../images/sprite.png';
$icon-test03: (0px, 0px, 0px, 0px, 168px, 168px, 576px, 456px, '../images/sprite.png', 'icon_test03', );
$spritesheet-width: 576px;
$spritesheet-height: 456px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-club01, $icon-club02, $icon-club03, $icon-cram01, $icon-cram02, $icon-cram03, $icon-other01, $icon-other02, $icon-other03, $icon-study01, $icon-study02, $icon-study03, $icon-test01, $icon-test02, $icon-test03, );
$spritesheet: (576px, 456px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
