@mixin fs( $size, $importantFlg:false ) {
  font-size: $size + px + if($importantFlg, ' !important', '');
  font-size: $size/10 + rem + if($importantFlg, ' !important', '');
}

// clearfix
@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}