// 汎用margin padding
@for $i from 0 through 20 {
    .mt#{$i * 10} { margin-top: 10px * $i !important; }
    .mr#{$i * 10} { margin-right: 10px * $i !important; }
    .mb#{$i * 10} { margin-bottom: 10px * $i !important; }
    .ml#{$i * 10} { margin-left: 10px * $i !important; }
    .pt#{$i * 5} { padding-top: 5px * $i !important; }
    .pr#{$i * 5} { padding-right: 5px * $i !important; }
    .pb#{$i * 5} { padding-bottom: 5px * $i !important; }
    .pl#{$i * 5} { padding-left: 5px * $i !important; }
}

.cf {
  @include cf;
}




