@charset "UTF-8";
@import "foundation/variables";
@import "foundation/mixins";
@import "foundation/base";
@import "foundation/fonts";
@import "includes/sprite";

// 接頭辞
// l- Layout
// c- Component
// p- Project
// u- Utitlity
// is- State
// js- JavaScript

/* Layout
   ----------------------------------------------------------------- */
@import "layout/**/*.scss";

/* Component
   ----------------------------------------------------------------- */
@import "object/component/**/*.scss";

/* Project
   ----------------------------------------------------------------- */
@import "object/project/**/*.scss";

/* Utitlity
   ----------------------------------------------------------------- */
@import "object/utitlity/**/*.scss";

.aaa {
  @include sprite($icon_club01);
}


#l-header {
  width: 100%;
  height: 110px;
  background: rgba(110,110,110,.8);
  position: fixed;
  top: 0;
  left: 0;
}
.c-nav {
  > ul {
    font-size: 0;
    li {
      display: inline-block;
      font-size: 1.4rem;
    }
  }
}
.c-nav--child {
  width: 100%;
  height: 0;
  background: rgba(255,0,0,.8);
  position: absolute;
  top: 100%;
  left: 0;
  transition: height 0.3s ease;
  overflow: hidden;
  @at-root .is-nav-child-open & {
    height: 60px;
  }
  @at-root .is-nav-child-opened & {
    height: 60px;
  }
  > nav {
    > ul {
      font-size: 0;
      li {
        display: inline-block;
        font-size: 1.4rem;
      }
    }
  }
}
